<%- include('layout/header'); -%>
    <div class="container">
        <h4><%= title %></h4>
        <form action="/profile" method="POST">
            <div class="form-group row">
                <label for="inputFullname" class="col-sm-1 col-form-label">Fullname</label>
                <div class="col-sm-4">
                    <input type="text" name="fullname" class="form-control" id="inputFullname" placeholder="Enter fullname" value="<%= user.fullname %>">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-1 col-form-label">Email</label>
                <div class="col-sm-4">
                    <input type="text" name="email" disabled class="form-control" id="inputEmail" placeholder="Enter email" value="<%= user.email %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">Address</label>
                <div class="col-sm-4">
                    <textarea rows="5" class="form-control"></textarea>
                </div>
            </div>
            <button type="submit" class="col-sm-5 btn btn-lg btn-primary btn-block">Update</button>
        </form>
    </div>
<%- include('layout/footer'); -%>